*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
**/build/
/captures
/windows
linux/
*.md
*.docx
.externalNativeBuild
.cxx
.android-user-home/
**/.test-home/
.kotlin/
xray-protos/bin
release.jks
.claude/
*.sh
*.ps1
/.codex